//Variables

//Colors
$primary: #5f3dc4;
$secondary: #9775fa;
$tertiary: #f3f0ff;
$white: #ffffff;
$gray: #f1f3f5;
$gray-1: #e5dbff;
$gray-2: #ced4da;
$gray-3: #adb5bd;
$black: #495057;

//Border-radius
$border-radius: 8px;
