@import "../abstracts/variables";

.dashboard {
  padding: 1rem;
  background: $tertiary;
}

.project-header {
  @include flexWithDirection(row);
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0.5rem;

  &-title {
    h1 {
      font-weight: 800;
    }
  }
}

.project-board {
  width: 100%;
  display: grid;
  grid-auto-columns: 272px;
  grid-auto-flow: column;
  grid-gap: 8px;
  overflow-y: scroll;
  &-card {
    background: $gray-1;
    border-radius: $border-radius;
    margin: 0 0.5rem;
    display: grid;
    grid-auto-rows: max-content;
    &-add-new {
      padding: 0.5rem;
      & > * {
        margin: 0.25rem 0;
      }
    }
    &-header {
      padding: 1rem 0.5rem;
      p {
        font-size: 1rem;
        text-transform: uppercase;
      }
    }

    &-content {
      max-height: 450px;
      overflow-x: auto;

      &-list {
        margin: 0.25rem;
        padding: 1rem;
        background: $white;
        border-radius: $border-radius;
        border: 1px solid $gray-1;
        @include flexWithDirection(column);
        &-footer {
          @include flexWithDirection(row);
          justify-content: space-between;
          padding-top: 0.25rem;
          .task-id {
            @include flexWithDirection(row);
            justify-content: center;
            align-items: center;
            img {
              width: 20px;
              height: 15px;
            }
            p {
              font-weight: 700;
              font-size: 0.75rem;
            }
          }
          .assignee {
            background: $gray-1;
            color: $black;
            font-size: 0.75rem;
            font-weight: 500;
            border-radius: 6px;
            padding: 0 0.25rem;
            border: 1px solid $gray-1;
          }
        }
        &:hover {
          cursor: pointer;
          background: $gray;
        }

        &:focus {
          background: $secondary;
        }
      }
    }
  }
}

.comments {
  color: $gray-3;
  .comment-li {
    margin: 0.25rem;
  }
}

.comment-li {
  @include flexWithDirection(row);
  justify-content: space-between;
}
